---
title: archive
permalink: /
layout: page
home: true
comments: false
---
<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        overflow: auto;
    }

    .image-container {
        margin-right: 10px;
    }

    .header-title {
        visibility: hidden;
    }

    .text-hightlight {
        color: #000000;
        background-color: #ffde59;
    }
</style>

<div class="container">
    <div class="image-container">
        <img id="home-logo" src="/assets/img/logo-light.png" alt="lol" width="100%">
    </div>
    <div class="text-container">
        <p>Hi, <span class="text-hightlight">I am Guilherme</span>. An Embedded System Engineer that enjoy taking things apart and assembling them back together. I hold a BSc. and MSc. in Electrical Engineering. Currently working as Embedded Tech Lead at V3.</p>
        <p>I am passionate for tackling difficult problems and diving into complex code bases. I also <span class="text-hightlight">never play zero-sum</span> relationships. </p>
        <!-- <p>Usually involved with embedded Linux/Android, microcontrollers, real‐time programming, telemetry, computer vision, processor architecture, and electronic instrumentation.</p> -->
    </div>
</div>
